/* Main patch */
.mediapage_Screenshot_3Qh8h.mediapage_Fullscreen_un2hc .mediapage_Image_dmMTv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
}

/* Patch images with Spoiler alert */
.mediapage_FullscreenScreenshot_35IHD .mediapage_Screenshot_3Qh8h .mediapage_ImageContainer_120HU .mediapage_Image_dmMTv.mediapage_Spoiler_QIvhs {
  position: fixed;
}

/* Make sure popup Menus are still visible */
.FullModalOverlay {
  z-index: 10001;
}
